.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  gap: 30px;
  margin: 25px;
}

/* .thumb {
    height: 400px;
    width: 300px;
  }

  .thumb > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  } */